ul li {
    list-style-type: disc !important;
}

.center {
    /* display: block!important; */
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center !important;
}

#footer-left {
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 12% !important;
    min-width: 4em !important;
    height: auto !important;
    margin: 1em;
}

#footer-right {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 20% !important;
    min-width: 2em !important;
    height: auto !important;
    margin: 1.5em;
}

.list-bg {
    padding: 0.5em !important;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.1em;
}

.list-bg-blue {
    padding: 0.5em !important;
    background-color: rgba(40, 79, 183, 0.6);
    border-radius: 0.1em;
}

.list-bg-orange {
    padding: 0.5em !important;
    background-color: rgba(183, 157, 40, 0.7);
    border-radius: 0.1em;
}

.list-dark-bg {
    padding: 0.5em !important;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 0.5em;
}

.orange-bg{
    background: #FAAD00;
}
.green-bg {
    background: #5ec299;
}
.red-bg {
    background: #E34229;
}
.blue-bg {
    background: #6694CF;
}

.orange-font{
    color: #FAAD00;
}
.green-font {
    color: #5EC299;
}
.red-font {
    color: #E34229;
}
.blue-font {
    color: #6694CF;
}

.grayscale .slide-background-content {
    filter: grayscale(100%);
}

.reload-clj {
    position: absolute;
    top: 1em;
    right: -1em;
    color: #E34229;
}

.json div {
    margin-left: 1em;
}
.json div span:nth-child(1){
    float: left;
    width: 6em;
}

.table-no-padding, 
.table-no-padding td,
.table-no-padding tr{
    padding: 0.2em!important;
}

#moose1{
    position: fixed;
    top: 11em;
    left: 3em;
    width: 40%;
    max-height: 10em!important;
}
#moose2{
    position: fixed;
    top: 13em;
    left: 5em;
    width: 40%;
    max-height: 10em!important;
}

.circle-container {
    position: fixed;
    top: 12em;
    left:50%
}

.circle-container #employee-m {
    height: 0.4em;
    border-radius: 50%;
    position: relative;
    left: 0.6em; bottom: 1.8em;
}
.circle-container #worker-m {
    height: 0.4em;
    border-radius: 50%;
    position: relative;
    left: 0em; bottom: 4.2em;
}

.circle-container div{
    width: 12%;
    display: block;
    position: absolute;
    top: 50%; left: 50%;
    width: 4em; height: 4em;
    margin: -2em;
}

.deg180 { transform: rotate(180deg) translate(8em) rotate(-180deg); }
.deg220 { transform: rotate(220deg) translate(8em) rotate(-220deg); }
.deg260 { transform: rotate(260deg) translate(8em) rotate(-260deg); }
.deg300 { transform: rotate(300deg) translate(8em) rotate(-300deg); }
.deg340 { transform: rotate(340deg) translate(8em) rotate(-340deg); }
.deg20  { transform: rotate(20deg)  translate(8em) rotate(-20deg); }
.deg60  { transform: rotate(60deg)  translate(8em) rotate(-60deg); }
.deg100 { transform: rotate(100deg) translate(8em) rotate(-100deg); }
.deg140 { transform: rotate(140deg) translate(8em) rotate(-140deg); }


@media screen and (max-width: 620px) {

    #footer-left {
        min-width: 3em !important;
    }
    #footer-right {
        font-size: 0.4em;
        max-width: 30%!important;
        margin-bottom: 2.4em;
    }
}